<form action="/add/new" method="POST">
        <div class="space-fields flex flex-j-c-space-b flex-a-i-center">
            <label for="product">Producto: </label>
            <input type="text" placeholder="Producto" id="product" name="product">
        </div>
        <div class="space-fields flex flex-j-c-space-b flex-a-i-center">
            <label for="quantity">Email: </label>
            <input type="number" placeholder="correo@correo.com" id="quantity" name="quantity">
        </div>
        <div class="space-fields flex flex-j-c-space-b flex-a-i-center">
            <label for="total">Total: </label>
            <input type="number" placeholder="$" id="total" name="total">
        </div>
        <div class="flex flex-j-c-center">
        <input type="submit" class="btn-secondary" value="Registrar">
        </div>
</form>