<table>
    <thead>

        <th>Nombre</th>
        <th>precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Fecha</th>

    </thead>
    <tbody>
        <tr>
            <td colspan="6" class="t-c">No se encuentran registros aun</td>
        </tr>
    </tbody>
</table>