<body class="body-index">
    <div class="w-f flex">
        <div class="div1">
            <div class="flex flex-a-i-center">
                <svg class="logo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60"
                    viewBox="0 0 172 172" style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g>
                            <path
                                d="M169.13333,28.84583v111.08333c0,4.74792 -3.85208,8.6 -8.6,8.6h-54.16925c-3.45075,0 -6.40342,2.29692 -7.47125,5.57925c-0.5375,1.64475 -1.5695,3.02433 -2.9025,3.99542c-2.72692,1.98338 -4.29928,1.53367 -15.42625,1.53367c-3.45075,0 -6.40342,-2.29692 -7.47125,-5.57925c-1.07823,-3.29953 -4.14592,-5.52908 -7.62175,-5.52908h-54.00442c-4.74792,0 -8.6,-3.85208 -8.6,-8.6v-111.08333c0,-4.74792 3.85208,-8.6 8.6,-8.6c0.05052,0 7.14875,-0.00215 7.19892,0.00358c0.36192,-4.41467 4.05992,-7.88692 8.56775,-7.88692h50.16667c2.63482,0 4.99481,1.19934 6.52167,2.99567c1.15742,1.34375 3.21783,1.29 4.37525,-0.05375c1.57738,-1.82965 3.81052,-2.94192 6.30308,-2.94192h50.16667c4.50783,0 8.20583,3.47225 8.56775,7.88692c0.05017,-0.00573 7.14839,-0.00358 7.19892,-0.00358c4.74792,0 8.6,3.85208 8.6,8.6z"
                                fill="#060724"></path>
                            <path
                                d="M153.36667,125.2375c0,4.74971 -3.85029,8.6 -8.6,8.6h-50.16667c-2.15896,0 -4.20934,0.80231 -5.78601,2.2403c-1.50715,1.36991 -3.87717,1.56771 -5.68066,-0.0473c-1.52292,-1.36525 -3.53317,-2.193 -5.73333,-2.193h-50.16667c-4.74971,0 -8.6,-3.85029 -8.6,-8.6c0,-110.37347 -0.0172,-104.45381 0.03225,-104.98808c0.36192,-4.41467 4.05992,-7.88692 8.56775,-7.88692h50.16667c2.63482,0 4.99481,1.19934 6.52167,2.99567c1.15742,1.34375 3.21783,1.29 4.37525,-0.05375c1.57738,-1.82965 3.81052,-2.94192 6.30308,-2.94192h50.16667c4.50783,0 8.20583,3.47225 8.56775,7.88692c0.04909,0.53105 0.03225,-5.47139 0.03225,104.98808z"
                                fill="#060724"></path>
                            <path
                                d="M129.71667,12.3625v27.34549c0,2.10843 -2.19945,3.49554 -4.1022,2.58681l-5.4309,-2.59398c-1.56269,-0.74641 -3.37908,-0.74641 -4.94178,0l-5.4309,2.59398c-1.90275,0.90873 -4.1022,-0.47837 -4.1022,-2.58681v-27.34549z"
                                fill="#060724"></path>
                            <path
                                d="M69.73382,21.06534c4.34694,35.43917 -12.29442,67.44228 -45.98742,79.37979c-3.07271,1.08862 -5.11306,4.01226 -5.11306,7.27166v17.52071c0,4.74971 3.85029,8.6 8.6,8.6h50.16667c2.20017,0 4.21042,0.82775 5.73333,2.193v-121.47142c-5.63945,-5.08081 -14.29033,-0.75501 -13.39952,6.50626z"
                                fill="#060724"></path>
                            <path
                                d="M153.33442,20.24942c-0.36192,-4.41467 -4.05992,-7.88692 -8.56775,-7.88692c-2.92794,0 -5.19727,2.56137 -4.84144,5.46781c4.86509,39.72448 -12.74699,76.94133 -48.45312,95.98603c-1.59745,0.85212 -2.6058,2.50439 -2.6058,4.31505v17.89911c1.52292,-1.36525 3.53317,-2.193 5.73333,-2.193h50.16667c4.74971,0 8.6,-3.85208 8.6,-8.60179c0.00036,-110.45768 0.0172,-104.45524 -0.03189,-104.98629z"
                                fill="#060724"></path>
                            <path
                                d="M123.01368,12.3625c4.38815,0 4.74792,6.80833 -0.10535,6.80833c-5.73907,0 -10.39167,4.6526 -10.39167,10.39167v8.44054c0,1.8318 -1.05171,3.50056 -2.70434,4.29068c-1.90311,0.90981 -4.10399,-0.4773 -4.10399,-2.58681v-27.34442z"
                                fill="#060724"></path>
                            <path
                                d="M16.12823,148.52917h-4.66156c-4.74971,0 -8.6,-3.85029 -8.6,-8.6v-111.08333c0,-4.74971 3.85029,-8.6 8.6,-8.6c0.05052,0 7.14875,-0.00215 7.19892,0.00358c-0.04909,0.53105 -0.03225,-5.47139 -0.03225,104.98808c0,2.57463 1.13377,4.88659 2.92973,6.46183c3.25653,2.85699 2.77099,6.33748 2.80503,8.37174c0.07704,4.63683 -3.60233,8.4581 -8.23988,8.4581z"
                                fill="#060724"></path>
                            <path
                                d="M172,28.84583v111.08333c0,6.32279 -5.14388,11.46667 -11.46667,11.46667h-54.00549c-2.24209,0 -4.21113,1.43369 -4.89949,3.56757c-1.45519,4.51034 -5.61652,7.54077 -10.35583,7.54077h-10.54467c-4.73932,0 -8.901,-3.03042 -10.35583,-7.54077c-0.68836,-2.13387 -2.6574,-3.56757 -4.89949,-3.56757h-54.00585c-6.32279,0 -11.46667,-5.14388 -11.46667,-11.46667v-111.08333c0,-6.32279 5.14388,-11.46667 11.46667,-11.46667h4.87656c1.50858,-4.57269 5.81862,-7.88333 10.89011,-7.88333h43c1.58312,0 2.86667,1.28355 2.86667,2.86667c0,1.58312 -1.28355,2.86667 -2.86667,2.86667h-43c-3.16122,0 -5.73333,2.57212 -5.73333,5.73333v104.275c0,3.16122 2.57212,5.73333 5.73333,5.73333h50.16667c3.42101,0 6.4973,1.50607 8.6,3.89007c2.1027,-2.38399 5.17899,-3.89007 8.6,-3.89007h50.16667c3.16122,0 5.73333,-2.57212 5.73333,-5.73333v-104.275c0,-3.16122 -2.57212,-5.73333 -5.73333,-5.73333h-36.19167v24.47883l7.90197,-3.77397c0.78153,-0.37338 1.68954,-0.37338 2.47107,0l7.90197,3.77397v-9.42882c0,-1.58312 1.28355,-2.86667 2.86667,-2.86667c1.58312,0 2.86667,1.28355 2.86667,2.86667v13.975c0,2.10592 -2.2016,3.49447 -4.1022,2.58681l-10.76863,-5.14316l-10.76863,5.14316c-1.89988,0.90694 -4.1022,-0.47981 -4.1022,-2.58681v-29.025h-8.24167c-3.16122,0 -5.73333,2.57212 -5.73333,5.73333v94.24167c0,1.58312 -1.28355,2.86667 -2.86667,2.86667c-1.58312,0 -2.86667,-1.28355 -2.86667,-2.86667v-94.24167c0,-6.32279 5.14387,-11.46667 11.46667,-11.46667h50.16667c6.32279,0 11.46667,5.14388 11.46667,11.46667v104.275c0,6.32279 -5.14388,11.46667 -11.46667,11.46667h-50.16667c-3.16122,0 -5.73333,2.57212 -5.73333,5.73333c0,1.58312 -1.28355,2.86667 -2.86667,2.86667c-1.58312,0 -2.86667,-1.28355 -2.86667,-2.86667c0,-3.16122 -2.57212,-5.73333 -5.73333,-5.73333h-50.16667c-6.32279,0 -11.46667,-5.14388 -11.46667,-11.46667v-102.125h-4.3c-3.16122,0 -5.73333,2.57212 -5.73333,5.73333v111.08333c0,3.16122 2.57212,5.73333 5.73333,5.73333h54.00549c4.73932,0 8.901,3.03043 10.35583,7.54077c0.68836,2.13388 2.6574,3.56757 4.89949,3.56757h10.54467c2.24209,0 4.21113,-1.43369 4.89949,-3.56757c1.45519,-4.51034 5.61652,-7.54077 10.35583,-7.54077h54.00585c3.16122,0 5.73333,-2.57212 5.73333,-5.73333v-111.08333c0,-1.58312 1.28355,-2.86667 2.86667,-2.86667c1.58312,0 2.86667,1.28355 2.86667,2.86667z"
                                fill="#eb7f67"></path>
                        </g>
                    </g>
                </svg>
                <h1 class="index-h1">Regis.io</h1>
            </div>

            <div class="flex flex-j-c-center flex-dir-col info">
                <h2>Registre y mantenga su información de ventas de forma segura</h2>
                <button type="button" class="btn-primary">Iniciar sesión</button>
            </div>

        </div>
        <div class="div2">
            <div class="modal-div flex flex-dir-col flex-j-c-center flex-a-i-center">
                <form class="form-user flex flex-fir-col flex-j-c-center" id="user-form">
                    <div class="flex flex-dir-col">
                        <div class="flex flex-dir-col">
                            <label for="name">Name: </label>
                            <input type="text" name="name" id="name" placeholder="Nombre">
                        </div>
                        <div class="flex flex-dir-col">
                            <label for="last">Apellido: </label>
                            <input type="text" name="lastname" id="last" placeholder="Apellido">
                        </div>
                        <div class="flex flex-dir-col">
                            <label for="email">Email: </label>
                            <input type="email" name="email" id="email" placeholder="Apellido">
                        </div>
                        <div class="flex flex-dir-col">
                            <label for="password">Contraseña: </label>
                            <input type="password" name="password" id="password" placeholder="Contraseña">
                        </div>
                        <div class="flex flex-dir-col">
                            <label for="confirm">Repetir contraseña: </label>
                            <input type="password" name="confirm" id="confirm" placeholder="Repetir contraseña">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        let data = {}
        const form = document.getElementById("user-form");

        form.addEventListener("input", (e) => {
            let reg;
            let value;
            switch (e.target.name) {
                case "name":
                    reg = /\D/g;
                    value = e.target.value;
                    let matchName = value.match(reg);

                    if (matchName != null) {
                        if (matchName.length > 0) {
                            e.target.style.border = "1px solid #198754";
                            data.name = e.target.value
                        } else {
                            e.target.style.border = "1px solid #dc3545"
                            data.name = ""
                        }
                    } else {
                        e.target.style.border = "1px solid #dc3545"
                        data.name = ""
                    }

                    if (matchName.length != e.target.value.length) {
                        e.target.style.border = "1px solid #dc3545";
                        data.name = "";
                    } else {
                        e.target.style.border = "1px solid #198754";
                        data.name = e.target.value;
                    }
                    break;
                case "lastname":
                    reg = /\D/g;
                    value = e.target.value;
                    let matchLast = value.match(reg);

                    if (matchLast != null) {
                        if (matchLast.length > 0) {
                            e.target.style.border = "1px solid #198754";
                            data.last = e.target.value
                        } else {
                            e.target.style.border = "1px solid #dc3545"
                            data.last = ""
                        }
                    } else {
                        e.target.style.border = "1px solid #dc3545"
                        data.last = ""
                    }

                    if (matchLast.length != e.target.value.length) {
                        e.target.style.border = "1px solid #dc3545";
                        data.last = "";
                    } else {
                        e.target.style.border = "1px solid #198754";
                        data.last = e.target.value;
                    }
                    break;
                case "email":
                    reg = /[A-Z0-9a-z._-]+@[A-Za-z.-]+.[A-Za-z]{2,3}/g
                    value = e.target.value

                    let matchEmail = value.match(reg);

                    if (matchEmail != null) {
                        if (matchEmail.length > 0) {
                            e.target.style.border = "1px solid #198754";
                            data.email = e.target.value
                        } else {
                            e.target.style.border = "1px solid #dc3545"
                            data.email = ""
                        }

                    } else {
                        e.target.style.border = "1px solid #dc3545"
                        data.email = ""
                    }
                    break;
                case "password":
                    reg = /^[A-Z][a-z]+[0-9]+[!""·$%&/()=#@|~€¬]+$/g
                    value = e.target.value;

                    let matchPass = value.match(reg);

                    if (e.target.value.length >= 8) {
                        if (matchPass != null) {
                            e.target.style.border = "1px solid #198754";
                            data.password = e.target.value
                        } else {
                            e.target.style.border = "1px solid #dc3545"
                            data.password = ""
                        }
                    } else {
                        e.target.style.border = "1px solid #dc3545"
                        data.password = ""
                    }
                    break;
                case "confirm":
                    if (data.password != "" || data.password != null) {
                        if (e.target.value === data.password) {
                            e.target.style.border = "1px solid #198754";
                            data.confirm = e.target.value
                        } else {
                            e.target.style.border = "1px solid #dc3545"
                            data.confirm = ""
                        }
                    }
                    break;
            }
            console.log(data)
        })
    </script>
</body>